<div class="wrapper">
  <button id="clear">Clear</button>
  <button id="save">Save</button>
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>

<div class="logo">
  <h1>Colors</h1>
</div>
